
* {
    box-sizing: border-box;
}

/* same design as the main stylesheet except the dimensions have been adjusted for the tablet view */

body { /* Styles for the body section in the website */
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;  /* Font for the body */
    color: brown;
    background-color: #F2D3D0;
}

header {
    background-color: #F7B4AE;
    color: brown;
    padding: 3.5%;  /* 3.5% padding for the header | smaller than the desktop */
    text-align: center;
}

header nav {
    margin-top: 8px;
}

header nav a {
    color: brown;
    margin: 0 15px;
    text-decoration: none;
    font-size: 1.1rem;
}

header h1{
  font-family: "Satisfy", cursive;
  font-optical-sizing: auto;
  font-weight: 700;
  font-style: normal;
  font-size: 2.8rem;
}

body h2 {
    margin-left: 32px;
    margin-right: 32px;
}

#About h2,
#About p {
    margin-left: 32px;
    margin-right: 32px;
}

#About p {
    font-size: 1.1rem;
    line-height: 1.6;
}

video {
    display: block;
    width: 100%;
    max-width: 550px;
    height: auto;
    margin: 24px auto;
    border-radius: 8px;
    border: 1px solid #ccc;
}

body h3 {
    text-align: center;
}

#projects {
    padding: 0 32px;
}

.card {
    display: block;
    background-color: #F2B999;
    background: -webkit-linear-gradient(top, #F2B999 0%, #F7B4AE 100%);
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 24px;
    width:85%;
    max-width: 650px;
    margin: 24px auto;
    font-size: 17px;
}

.card img,
img {
    display: block;
    width: 100%;
    max-width: 100%;
    height: auto;
    margin: 0 auto 16px;
}

#Contact {
    padding: 0 32px;
}

#Contact .card {
    background-color: bisque;
    color: brown;
    width: 75%; 
    min-height: auto;
    margin: 40px auto;
    padding: 32px 48px;
}

#Contact .card h2 {
    margin: 10px auto 20px;
    text-align: center;
}

#Contact input {
    display: block;
    width: 100%;
    height: 38px;
    font-size: 16px;
    margin-bottom: 12px;
}

#Contact .card button {
    border: 1px solid brown;
    background-color: #F7B4AE;
    color: brown;
    width: 130px;
    height: 48px;
    display: block;
    margin: 24px auto 0;
    font-size: 18px;
}

#Contact .card button:hover {
    background-color: white;
    color: brown;
    cursor: pointer;
}

footer {
    background-color: #F7B4AE;
    color: brown;
    text-align: left;
    padding: 20px 32px;
    font-size: small;
}

footer p {
    margin: 3px 0;
}